publications/*.html
publications/*.md
key-delivered-products.md
key-delivered-products.tex
on-campus-committees.md
on-campus-committees.tex
professional-activities.md
professional-activities.tex
short-courses.md
short-courses.tex
interests.md
interests.tex
